@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Zen+Old+Mincho:wght@600&display=swap');

:root{
    --main-color:#84DF4C;
    --maintxt-color:white;
    --header-height:60px;
}

