@charset "utf-8";

:root{
    --main-color:#84DF4C;
    --maintxt-color:white;
    --header-height:60px;
}
.MainContainer{
    position: sticky;
    top: 5vh;
    display: block;
    height: 500vh;
    border: 1px solid black;
    width: 70vh;
    margin: 0 auto;
}
.SideContainer{
    position: fixed;
    left: .4rem;
    display: block;
    width: 13rem;
    border-right: 1px solid black;
    height: 100vh;
    
}
.tabList{
    justify-content: center;

}
.formWrapper{
    border: 1px solid black;
}
.tabPanel{
    text-align: center;
}

textarea{
    height: 30vh;
}
.Scream_text{
    border: 1px solid black;
}

main{

    display: flex;
    justify-items: center;
}
form{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
p{
    font-size: .7rem;
    font-weight: bold;
}
